/*css for the pie chart page*/

#second-pie {
  width: 100%;
  height: 200px;
}

#second-pie path {
  stroke-width: 5px;
}

#pie-chart path {
  stroke-width: 10px;
}

.home-game {

}

.away-game {
  stroke: #E8E8E8;
}

.game-win {

}

.game-loss {
  fill: #AFAFAF;
}
