/*css for the chord diagram page*/

#teams-au {
  margin:0;
  float: right;
  width: 45%;
}

#teams-nz {
  margin:0;
  float: left;
  width: 45%;
}

#tip {
  text-align: center;
  background-color: #E8E8E8;
  border: 2px solid #009BEE;
  border-radius: 10px;
  box-shadow: 0 5px 5px #888888 inset;
  margin: 5%;
  padding: 5%;
}

#tip span {
  color: #838383;
}

#tooltip {
    color: white;
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

#chord-diagram h2 {
  text-align: center;
  line-height: 3em;
  color: #009BEE;
}

path.group {
    fill-opacity: .8;
}

path.chord {
    fill-opacity: .8;
    opacity: 1;
    transition: opacity 0.3s linear;
    stroke: #000000;
    stroke-width: .25px;
}

#circle:hover path.fade {
    opacity: 0;
    transition: opacity 0.3s linear;
}