/*css for the home/main page*/

#home-content {
  margin: 0 5%;
  padding: 2%;
  background-color: #E8E8E8;
  border: 2px solid #009BEE;
  border-radius: 10px;
  box-shadow: 0 5px 5px #888888 inset;
}

#home-content img {
  height: 150px;
  margin: 0 5%;
}