/*General css for the entire web app*/

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  background-color: #007AB6;
}

#title-bar {
  text-align: center;
  display: table;
  width: 100%;
  height: 10%;
  color: #fff;
  padding: 0.5em 0;
}

#title-bar img {
  display: inline-block;
  height: 4em;
  vertical-align: middle;
  margin-right: 1em;
}

#title-bar h1 {
  display: inline-block;
  margin: 0;
}

#page-content {
  height: 90%;
  width: 100%;
  margin: auto
}

#side-bar {
  height:100%;
  width: 13%;
  float: left;
}

#partial-content {
  height: 100%;
  width: 87%;
  margin-left: 13%;
}

.center-horizontal {
  width: 100%;
  text-align: center;
}

.styled-button {
  margin: auto;
  margin-bottom: 5px;
  padding: 2px 0;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #AFAFAF;
  color: #009BEE;
  cursor: pointer;
}

.styled-button:hover {
  color: #000;
  border-color: #777777;
}

.styled-button.selected {
  background-color: #EB007E !important;
  color: #FFF !important;
  border-color: #AFAFAF !important;
}

.tab-button {
  width: 90%;
  height: 50px;
  padding: 0;
  line-height: 50px;
}

.side-by-side-container {
  display: inline-block;
  width: 100%;
}

.vis-content {
  height: 100%;
  width: 74%;
  float: left;
  background-color: #E8E8E8;
  border: 2px solid #009BEE;
  border-radius: 10px;
  box-shadow: 0 5px 5px #888888 inset;
}

.options-content {
  height: 100%;
  width: 25%;
  float: right;
}

.options-panel {
  color: #000;
  margin: 5%;
  margin-top: 0;
  padding: 5%;
  background-color: #EBEBEB;
  border: 1px solid #00A5EB;
}

.options-panel ul {
  list-style-type: none;
  padding: 0;
}

.options-panel input {
  cursor: pointer;
}

.options-panel select {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.options-panel table {
  width: 90%;
  margin: 0 auto;
}

.option-content {
  border: 1px solid #AFAFAF;
  background-color: #FFF;
  padding: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fade {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}