<div id="home-content">
  <p>Welcome, here you will find interactive visualisations of wins and goals scored by teams competing in the ANZ Netball Championship. Have a play, click on things, and learn something about your favourite team!</p>

  <h2>The visualisations</h2>

  <p>The <i>Team Wins</i> visualisation lets you explore each teams wins and losses for home and away games. The coloured segments are won games, and the ones with borders are games played at the teams home stadium. You can also quickly compare one team with another.</p>
  <div class="center-horizontal">
    <img src="img/home/pie_1.png">
    <img src="img/home/pie_2.png">
    <img src="img/home/pie_3.png">
  </div>

  <p><i>Team Goals</i> presents the goals of each team against the other teams. The size of the segments and the chords between them tell you how many goals a team scored against the other teams. Chords are coloured according to the team that scored the most goals.</p>
  <div class="center-horizontal">
    <img src="img/home/chord_1.png">
    <img src="img/home/chord_2.png">
    <img src="img/home/chord_3.png">
  </div>
</div>
